name: Release

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v6
        with:
          node-version: 23.x
          registry-url: https://registry.npmjs.org
          cache: pnpm

      - name: Build
        run: |
          pnpm install
          pnpm build

      - name: Publish to npm
        id: publishable
        run: pnpm publish --access public --no-git-checks
          # pnpm dlx can-npm-publish --verbose
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          NPM_CONFIG_PROVENANCE: "true"

      - name: Publish to JSR
        run: pnpm run jsr:publish
